* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkgray;
}

header {
  position: fixed;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
}

header h1 {
  padding: 20px;
  font-size: 2rem;
  font-weight: bold;
}

header nav {
  display: flex;
}

header nav a {
  width: 100px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px;
}

header nav a:hover {
  background-color: red;
  color: wheat;
  font-weight: bold;
}
